.trainingScreen {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem 2rem;
	min-height: 83vh;
}
.trainingScreen h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--text-color2);
}
.trainingScreen label {
	font-size: 1.3rem;
	padding: 0.5rem;
}
.trainingScreen input {
	font-size: 1rem;
	padding: 0.2rem;
	border: 1px solid green;
	border-radius: 5px;
}
.trainingScreen__info {
	display: flex;
	margin-top: 1rem;
	flex-direction: column;
	gap: 20px;
}
.trainingScreen__info-name {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.trainingScreen__info-name-box {
	display: flex;
	justify-content: center;
}
.trainingScreen__info-name-box p {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
.trainingScreen__info-name img {
	width: 40px;
	cursor: pointer;
}
.trainingScreen__info-datetime {
	display: flex;
	text-align: center;
}

.trainingScreen-errorText {
	text-align: start;
	margin: 1rem 0;
	padding: 0.3rem;
}

.trainingScreen__exerciesList {
	margin-top: 1rem;
}
