.exerciesList__exercie {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	border-bottom: 1px solid rgb(173, 173, 173);
	padding: 0.3rem;
}
.exerciesList__exercie a {
	color: black;
	transition: color 0.3s;
}
.exerciesList__exercie a:hover {
	color: var(--text-color-hover1);
}
.exerciesList__name {
	display: flex;
	align-items: center;
	font-size: 1rem;
	min-width: 50%;
	line-height: 1.5rem;
}
.exerciesList__details {
	display: flex;
	justify-content: space-between;
	align-items: start;
	align-items: end;
	gap: 5px;
	width: 40%;
}

.exerciesList__details label {
	font-size: 1rem;
	padding-top: 0.4rem;
}
.exerciesList__details input {
	width: 40px;
	height: 30px;
	text-align: center;
	font-size: 1rem;
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}
.exerciesList__details input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.exerciesList__exercie-removeBtn {
	border: none;
	background: transparent;
}
.exerciesList__exercie-removeBtn img {
	width: 40px;
	transition: transform 0.3s;
	cursor: pointer;
}
.exerciesList__exercie-removeBtn img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
	.exerciesList__exercie {
		flex-direction: column;
		gap: 0;
		border-bottom: 1px solid rgb(173, 173, 173);
	}
	.exerciesList__name {
		display: block;
		padding: 0.5rem 0.3rem;
		width: 100%;
		background: rgb(246, 244, 221);
	}
	.exerciesList__details {
		width: 100%;
		padding: 0 0.3rem;
	}
}
@media screen and (max-width: 414px) {
	.exerciesList__details label {
		font-size: 0.9rem;
	}
	.exerciesList__details-box {
		display: flex;
	}
	.exerciesList__details-box label {
		padding-right: 0.3rem;
	}
}
