.aboutUs {
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	min-height: 83vh;
	margin-top: 2rem;
}
.aboutUs__section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
	padding: 1rem 0;
}
.aboutUs__section-text {
	width: 30%;
}
.aboutUs__img {
	text-align: center;
}
.aboutUs__img img {
	width: 100%;
}
.aboutUs__section-text h3 {
	font-size: 2rem;
	color: var(--text-color2);
}

@media screen and (max-width: 900px) {
	.aboutUs__section {
		flex-direction: column;
	}
	.aboutUs__section-text {
		width: 80%;
	}
	.middle {
		order: 1;
	}
}

/* Animation */
.from_right {
	animation: from_right 0.5s forwards;
}
.from_left {
	animation: from_left 0.5s forwards;
}

@keyframes from_right {
	from {
		transform: translateX(40em);
	}

	to {
		transform: translateX(0);
	}
}
@keyframes from_left {
	from {
		transform: translateX(-40em);
	}

	to {
		transform: translateX(0);
	}
}
