.singlePlanScreen {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem 2rem;
	min-height: 83vh;
}
.singlePlanScreen h2 {
	margin-bottom: 1rem;
}
.singlePlanScreen__box {
	width: 70%;
}
.singlePlanScreen__box h3 {
	background: var(--main-background-color);
	padding: 0.5rem;
	border-radius: 5px;
}
.singlePlanScreen__box-exercise {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.3rem 0;
	padding: 0.5rem;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
}
.singlePlanScreen__box-exercise a {
	text-decoration: none;
	color: black;
	transition: color 0.3s font-weight 0.3s;
}
.singlePlanScreen__box-exercise a:hover {
	color: var(--text-color-hover1);
	font-weight: bold;
}

@media screen and (max-width: 1000px) {
	.singlePlanScreen__box {
		width: 100%;
	}
}
@media screen and (max-width: 650px) {
	.singlePlanScreen h2{
		font-size: 1.5rem;
	}
	.singlePlanScreen__box-exercise {
		flex-direction: column;
		align-items: start;
		border-bottom: 1px solid rgb(186, 185, 185);
	}
}
