.starttrainingScreen {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3rem 2rem;
	min-height: 83vh;
}
.starttrainingScreen h2 {
	margin-bottom: 3rem;
}
.starttrainingScreen__options {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
	.starttrainingScreen {
		padding: 2rem;
	}
}
