.trainingStory {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem 2rem;
	min-height: 83vh;
}
.trainingStory h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--text-color2);
	margin-bottom: 1.5rem;
}
.trainingStory__table {
	margin: 0 2rem;
}
.trainingStory__tabel-thead {
	background: var(--main-background-color);
	padding: 0.5rem;
	font-size: 1.2rem;
	border-radius: 5px;
	color: aliceblue;
}
.trainingStory__tabel-tbody {
	padding: 0.5rem;
	border-radius: 5px;
	margin: 0.3rem;
}
.trainingStory__tabel-tbody:nth-child(even) {
	background-color: rgb(237, 231, 231);
}
.trainingStory__tabel-thead,
.trainingStory__tabel-tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.trainingStory__tabel-tbody div {
	display: flex;
	align-items: center;
}
.trainingStory__tabel-thead-options {
	text-align: center;
}
.trainingStory__tabel-thead-time,
.trainingStory__tabel-tbody-time {
	text-align: center;
	justify-content: center;
}
.trainingStory__tabel-tbody-options,
.trainingStory__mobile-options {
	display: flex;
	justify-content: space-evenly;
}
.trainingStory__tabel-tbody-options img,
.trainingStory__mobile-options img {
	width: 50px;
	height: 40px;
	transition: transform 0.3s;
	cursor: pointer;
}
.trainingStory__tabel-tbody-options img:hover {
	transform: scale(1.1);
}
/* Mobile */
.trainingStory__mobile {
	display: none;
}
.trainingStory__mobile-box {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
	border: 1px solid rgb(49, 49, 49);
	border-radius: 5px;
}
.trainingStory__mobile-box-time {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	gap: 10px;
	padding: 0.5rem;
	background: var(--main-background-color);
	letter-spacing: 1px;
}
.trainingStory__mobile-box-time span {
	color: white;
}
.trainingStory__mobile-box-set,
.trainingStory__mobile-box-set-name {
	font-size: 1.2rem;
	text-align: center;
	margin: 0.7rem 0;
}
.trainingStory__mobile-box-set-name {
	font-weight: bold;
	padding: 0 0.7rem;
}
.trainingStory__mobile-options {
	margin-top: 0.5rem;
}

@media screen and (min-width: 1200px) {
	.trainingStory__tabel-tbody {
		min-width: 1100px;
	}
}
@media screen and (max-width: 900px) {
	.trainingStory {
		padding: 1rem 1rem;
	}
	.trainingStory__table {
		display: none;
	}
	.trainingStory__mobile {
		display: block;
	}
}
@media screen and (max-width: 500px) {
	.trainingStory h2 {
		font-size: 1.5rem;
	}
}
