.trainingScreen {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem 2rem;
	min-height: 83vh;
}
.trainingScreen h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--text-color2);
}
.trainingScreen label {
	font-size: 1.3rem;
	padding: 0.5rem;
}
.trainingScreen input {
	font-size: 1rem;
	padding: 0.2rem;
	border: 1px solid rgb(107, 10, 177);
	border-radius: 5px;
}
.trainingScreen__info {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 20px;
}
.trainingScreen__info-name {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.trainingScreen__info-name-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.trainingScreen__info-name-box p {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
.trainingScreen__info-name img {
	width: 40px;
	max-height: 40px;
	cursor: pointer;
	transition: transform 0.3s;
}
.trainingScreen__info-name img:hover {
	transform: scale(1.1);
}
.trainingScreen__info-datetime {
	display: flex;
	text-align: center;
}

.trainingScreen-errorText {
	text-align: start;
	margin: 1rem 0;
	padding: 0.3rem;
}

.trainingScreen__exerciesList {
	margin-top: 1rem;
	min-width: 80%;
}
.trainingScreen__exerciesList-box {
	margin: 0.5rem 0;
	margin-bottom: 1rem;
}
.trainingScreen__exerciesList-box h3 {
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	margin: 0.5rem 0;
	padding: 0.3rem;
	border-radius: 5px;
	background: var(--main-background-color);
}
.trainingScreen__exerciesList-box-btn {
	text-align: end;
}
.trainingScreen__exerciesList-box-btn button,
.trainingScreen__exerciesList-add-btn {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.3s;
	background: var(--main-btn-color);
	color: var(--text-color1);
}
.trainingScreen__exerciesList-box-btn button {
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
.trainingScreen__exerciesList-add-btn:hover,
.trainingScreen__exerciesList-box-btn button:hover {
	color: var(--text-color-hover);
}
.trainingScreen__exerciesList-add-btn {
	font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
	.trainingScreen {
		padding: 3rem 1rem;
	}
	.trainingScreen__info {
		width: 100%;
		padding: 0 0.5rem;
	}
	.trainingScreen__info-name-box p {
		font-size: 1.4rem;
	}
	.trainingScreen__info-datetime {
		display: block;
		text-align: start;
	}
	.trainingScreen__info-datetime-date {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.trainingScreen label {
		padding: 0;
		padding-right: 1rem;
		font-size: 1.2rem;
		margin-bottom: 0.3rem;
	}
	.trainingScreen__info-datetime-time {
		display: flex;
		justify-content: space-between;
		margin: 0.5rem 0;
	}
}
