@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(
		267deg,
		rgba(254, 254, 254, 1) 0%,
		rgb(250, 252, 234) 14%
	);
}

:root {
	--main-background-color: linear-gradient(
		267deg,
		rgb(28, 115, 69) 1%,
		rgb(6, 129, 51) 25%,
		rgb(50, 133, 35) 86%
	);
	--text-color1: rgb(244, 243, 238);
	--text-color2: #259f2f;
	--text-color-hover: rgb(233, 219, 19);
	--text-color-hover1: rgb(25, 155, 34);
	--btn-text-color-hover: rgb(233, 219, 19);
	--btn-background-color-hover: rgb(255, 255, 255);
	--main-btn-color: linear-gradient(
		267deg,
		rgb(74, 151, 45) 25%,
		rgb(40, 152, 27) 86%
	);
}
h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--text-color2);
	margin-bottom: 0.5rem;
}

.errorText {
	color: red;
	font-size: 0.8rem;
}
.infoText {
	color: rgb(21, 61, 194);
	padding: 0.5rem;
	font-size: 1.2rem;
}
.errorInput {
	border: 2px solid red;
	margin: 5px;
}

.greenBtn,
.greyBtn {
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: var(--text-color1);
	transition: background 0.3s;
}
.greenBtn {
	background: var(--main-btn-color);
	transition: color 0.3s background 0.3s;
}
.greenBtn:hover {
	color: var(--btn-text-color-hover);
}
.greyBtn {
	background: #344;
}
.greyBtn:hover {
	background: rgb(66, 87, 87);
}
.btn {
	border: none;
	background: transparent;
	transition: transform 0.3s;
	margin: 0.5rem;
}
.btn:hover {
	transform: scale(1.1);
}
.btn img {
	width: 50px;
	height: 40px;
	cursor: pointer;
}
@media screen and (max-width: 420px) {
	h2 {
		font-size: 1.3rem;
	}
	.greenBtn,
	.greyBtn {
		font-size: 1rem;
		margin: 0.5rem;
	}
	.infoText {
		text-align: center;
		margin: 0.5rem 0;
	}
}
