* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	background: linear-gradient(
		267deg,
		rgba(254, 254, 254, 1) 0%,
		rgb(250, 252, 234) 14%
	);
}

:root {
	--main-background-color: linear-gradient(
		267deg,
		rgb(43, 167, 101) 1%,
		rgb(33, 151, 112) 25%,
		rgb(60, 187, 132) 86%
	);
	--text-color1: rgb(244, 243, 238);
	--text-color2: #2a9f6c;
	--text-color-hover: rgb(233, 219, 19);
	--text-color-hover1: rgb(135, 29, 216);
	--main-btn-color: linear-gradient(
		267deg,
		rgb(118, 13, 199) 25%,
		rgb(159, 22, 228) 86%
	);
}
h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--text-color2);
}

.errorText {
	color: red;
	font-size: 0.8rem;
}
.infoText {
	color: rgb(21, 61, 194);
	padding: 0.5rem;
	font-size: 1.2rem;
}
.errorInput {
	border: 2px solid red;
	margin: 5px;
}

.greenBtn,
.greyBtn {
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: var(--text-color1);
	transition: background 0.3s;
}
.greenBtn {
	background: var(--main-btn-color);
	transition: color 0.3s background 0.3s;
}
.greenBtn:hover {
	color: var(--text-color-hover);
}
.greyBtn {
	background: #344;
}
.greyBtn:hover {
	background: rgb(66, 87, 87);
}
@media screen and (max-width: 420px) {
	h2 {
		font-size: 1.5rem;
	}
	.greenBtn,
	.greyBtn {
		font-size: 1rem;
		margin: 0.5rem;
	}
	.infoText {
		text-align: center;
	}
}
