.public {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem 2rem;
	min-height: 83vh;
}
.public__welcomeText {
	position: relative;
	margin: 1rem;
	text-align: center;
}
.public__welcomeText h2 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}

span {
	color: var(--text-color2);
}
.public__welcomeText p {
	font-size: 1.5rem;
	margin-top: 1rem;
	text-align: center;
}
.public__publicBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5rem;
	border: 1px solid rgb(206, 205, 205);
	border-radius: 5px;
	box-shadow: -1px 8px 26px 3px rgba(148, 148, 148, 1);
}
.public__publicBox form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.public__publicBox form p {
	font-size: 0.8rem;
	margin: 0.4rem 0;
}
.public__publicBox label {
	font-size: 1.2rem;
	margin: 0.3rem;
	text-align: start;
}
.formInput {
	width: 350px;
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1.2rem;
	border: 1px solid #7a7a7a;
	border-radius: 5px;
}

.public__publicBox-retrievePassword {
	color: rgb(40, 40, 214);
	cursor: pointer;
	margin: 0.3rem;
	transition: color 0.3s;
}
.public__publicBox-retrievePassword:hover {
	color: rgb(22, 22, 128);
}
.public__publicBox-line {
	position: relative;
	height: 1px;
	width: 100%;
	margin-bottom: 0.5rem;
	background: rgb(198, 198, 198);
}
.public_text {
	margin-top: 1rem;
	font-size: 1.5rem;
}
.public_text a {
	color: black;
	transition: color 0.3s;
}
.public_text a:hover {
	color: var(--text-color2);
}

@media screen and (max-width: 420px) {
	.public__welcomeText h2 {
		font-size: 1.5rem;
	}
	.public__welcomeText p {
		font-size: 1.2rem;
	}
	.public__publicBox-retrievePassword {
		font-size: 0.9rem;
	}
	.formInput {
		width: 300px;
	}
}
@media screen and (max-width: 375px) {
	.public{
		padding: 1rem 1rem;
	}
	.public__welcomeText h2 {
		font-size: 1.2rem;
	}
	.public__welcomeText p {
		font-size: 1rem;
	}
	.public__publicBox label {
		font-size: 1rem;
	}
	.formInput {
		width: 270px;
		font-size: 1rem;
	}
}
@media screen and (max-width: 375px) {
	.formInput {
		width: 230px;
		font-size: 1rem;
	}
}
