.optionButton {
	width: 400px;
}
.optionButton p {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 0.5rem;
	color: rgb(52, 52, 52);
}
.optionButton img {
	width: 100%;
	height: 280px;
	cursor: pointer;
	transition: transform 0.3s;
}
.optionButton img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 500px) {
	.optionButton {
		width: 300px;
	}
	.optionButton img {
		height: 230px;
	}
}
